.title{
    margin-left: 10%;
}
.deep-sky-blue{
    background-color:#00BFFF;
    border: solid;
    max-width: 20%;
}

.dark-red{
    background-color:#8B0000;
    border: solid;
    max-width: 20%;
}

.dark-magenta{
    background-color: #8B008B;
    border: solid;
    max-width: 20%;
}

.forest-green{
     background-color:#228B22 ;
     border: solid;
    max-width: 20%;
}
.color-panel{
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: 20px auto;
    min-height: 100px;
}

.font-type{
    width: 40%;
    display: inline-block;
    font-size: 20px;
}

.font-title{
    font-size: 20px;
    text-decoration: underline;
}

.serif{
    font-family: serif;
}

.cursive{
    font-family: cursive;
}

.grape-nuts{
    font-family: 'Grape Nuts', cursive;
    
}

.bold{
    font-weight: bold;
}

.italic{
    font-style:italic;
}

.text-panel h1{
    text-align: left;
}

.container{
    border: 1px solid;
    padding: 10px;
    margin: 10px 100px;

}

.text-panel h1 {
    font-weight: 700;
    font-size: 32px;
    font-family: 'Nunito Sans', sans-serif;
}

.text-panel h2 {
    font-weight: 500;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.text-panel p {
    font-weight: 400;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
